// border-radius mixin
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

// bottom-edge shadow
=bottom-vertical-box-shadower($color)
  -webkit-box-shadow: 0px 10px 40px -10px $color
  -moz-box-shadow:    0px 10px 40px -10px $color
  box-shadow:         0px 10px 40px -10px $color

// top-edge shadow
=top-vertical-box-shadower($color)
  -webkit-box-shadow: 0px -10px 40px -10px $color
  -moz-box-shadow:    0px -10px 40px -10px $color
  box-shadow:         0px -10px 40px -10px $color

// general box shadow
=box-shadow($horizontal-length, $vertical-length, $blur-radius, $spread-radius, $color)
  -webkit-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $color
  -moz-box-shadow:    $horizontal-length $vertical-length $blur-radius $spread-radius $color
  box-shadow:         $horizontal-length $vertical-length $blur-radius $spread-radius $color

// covers background
=background-imager($image-uri)
  background: url($image-uri) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size:    cover
  -o-background-size:      cover
  background-size:         cover