// custom two-glyph font face: forwards arrow and back arrow
@font-face
  font-family: 'button-font'
  src:  url('/static/fonts/button-font.eot?m9mjcb')
  src:  url('/static/fonts/button-font.eot?m9mjcb#iefix') format('embedded-opentype'), url('/static/fonts/button-font.ttf?m9mjcb') format('truetype'), url('/static/fonts/button-font.woff?m9mjcb') format('woff'), url('/static/fonts/button-font.svg?m9mjcb#icomoon') format('svg')
  font-weight: normal
  font-style: normal

button.arrow
  font-size: 35px
  background: transparent
  color: $light-font-color
  border: none
  outline: 0
  padding: 3px

  // font stylings for buttons
  font-family: "button-font" !important
  speak: none
  font-style: normal
  font-weight: normal
  //font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &.forward
    &:before
      content: "\ea42"
  &.back
    &:before
      content: "\ea44"

