<!DOCTYPE html>
<html lang="en">

{%  load staticfiles %}

<head>

    <meta charset="UTF-8">
    <title>Viking Union</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' charset='utf-8' type='text/javascript'></script>
    <script src='{% static "js/base.js" %}' charset='utf-8' type='text/javascript'></script>
</head>

<body>

    <!-- Top Section -->
    <div class="top-container">
        <header>
            <div class="sup-header">
                <ul>
                    <li><a href="/">Directory</a></li>
                    <li><a href="www.wwu.edu">Western</a></li>
                </ul>
            </div>
            <div class="main-header">
                <ul>
                    <li class="home"><a href="/">Home</a></li>
                    <li><a href="/discover">Discover</a></li>
                    <li><a href="/plan">Plan</a></li>
                </ul>
            </div>
            <a class="logo" href="/" alt="VU">
                <img src="{%  static "img/logo.svg" %}" alt="Viking Union Logo" />
            </a>
        </header>
        {% block hero %}{% endblock %}
        <div class="outer-container">
            {% block content %}{% endblock %}
        </div>

    </div>

    <!-- End Top Section -->

    <!-- Bottom Section -->
    {% block home_content %}{% endblock %}

    <footer>
      <div class='outer-container'>
        <div class='info-container'>
          <div class='contact'>
            <h3>Contact</h3>
            <hr />
            <div class='physical'>
              Western Washington University<br>
              516 High Street<br>
              Viking Union 547<br>
              Bellingham, WA 98225-9106<br>
              <p>
                <a class='map' target="_blank" href='http://www.wwu.edu/map/' role='button'>Campus Map ></a>
                <a class='map' target="_blank" href="https://www.google.com/maps/dir/''/viking+union+wwu+google+maps/@48.7389203,-122.5561934,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x5485a3c98c81f1d5:0xada0495ef4b4d14!2m2!1d-122.4861538!2d48.7389415" role='button'>Google Maps ></a>
              </p>
              <p>
                Questions or comments? <br>
                <a href="mailto:vu.webmaster@wwu.edu">vu.webmaster@wwu.edu</a>
              </p>
            </div>
            <div class='phones'>
              <h4>VU Offices</h4>
              <div class='number'>(360) 650 3450</div>
              <h4>Fax</h4>
              <div class='number'>(360) 650 7736</div>

            </div>
          </div>
          <div class='social'>
            <h3>Stay Up To Date</h3>
            <hr />
            <a href=''><i class="fi-social-facebook"></i></a>
            <a href=''><i class="fi-social-instagram"></i></a>
            <a href=''><i class="fi-social-twitter"></i></a>
          </div>
        </div>
        <div class='links'>
          <h3>Helpful Links</h3>
          <hr />
          <div>
            <a href='www.wwu.edu'>
              <img src="{%  static "img/wwu.png" %}" alt='WWU Homepage'><br/></img>
              WWU Homepage
            </a>
            <a href='www.as.wwu.edu'>
              <img src="{%  static "img/as.png" %}" alt='Associated Students'><br/></img>
              Associated Students
            </a>
            <br/>
            <a href=''>
              <img src="{%  static "img/calendar.png" %}" alt='Events Calendar'><br/></img>
              Events Calendar
            </a>
            <a href=''>
              <img src="{%  static "img/staff.png" %}" alt='VU Staff'><br/></img>
              VU Staff
            </a>
          </div>
          <p>
            The Viking Union assumes no responsibility for the content of any site or pagenot hosted by <a href="http://www.as.wwu.edu">www.as.wwu.edu</a>, <a href="http://www.vu.wwu.edu">www.as.wwu.edu</a>, <a href="http://www.union.wwu.edu">www.union.wwu.edu</a>, or <a href="http://www.kugs.org">www.kugs.org</a>
          </p>
        </div>
      </div>
    </footer>
    </div>

    <!-- End Bottom Section -->

</body>
</html>