{%  extends 'base.html' %}

{% block content %}
    <a href="discover/services">
        <div style="display: flex; justify-content:center; align-items: center; float: left; height: 500px; width:33.333%; background-color: white;"><h2 style="color:black;">Services</h2></div>
    </a>
    <div style="display: flex; justify-content:center; align-items: center; float: left; height: 500px; width:33.333%; background-color: blue;"></div>
    <div style="display: flex; justify-content:center; align-items: center; float: left; height: 500px; width:33.333%; background-color: red;"></div>
{% endblock %}