{%  extends 'base.html' %}
{% load staticfiles %}

{% block hero %}
    <div class="hero-message">
       <h1>Welcome to <br />the VU <a href="#content"><i class="fi-arrow-down"></i></a></h1>
    </div>
{% endblock %}

{% block home_content %}

    <div id='content' class='content-container'>
        <div id='welcome' class='welcome-container'>
            <div class='welcome'>
                <h1>Welcome to the Viking Union!</h1>
                <br/>
                <p>The Viking Union welcomes and engages students, faculty, staff, and
                guests in building a diverse community. We continually strive to enhance
                the Western Experience through supporting student leadership, campus involvement
                 and creative expression, and by providing services and events in our venues.</p>
                <br/>
                <h2>Frequently Asked Questions</h2>
                <br/><br/>
                <h3>Who can use the VU and AS facilities and services?</h3>
                <p>All members of the Western Washington University community,
                including Whatcom Community College and Northwest Indian College,
                are invited to avail themselves of these various facilities and services.
                Some restrictions may apply.</p>
                <br/>
                <h3>How can I find out what events are happening?</h3>
                <p>The Viking Union Information Desk (360-650-3120) maintains schedules of events on campus;
                 including, but not limited to, athletic events, movies, concerts,
                 colloquium, dances, etc. There is an online <a href="/">calendar</a> of events.</p>
            </div>
        </div>
          <div class='hours-outer-container'>
            <div id='hours' class='hours-container'>
              <div id='vu-hours' class='hours-inner-container'>
                <h2>VU Hours</h2><hr />
                <div class="callout">
                    <h4>When School in session</h4>
                    <table>
                        <tr>
                            <th>MON-THU</th>
                            <td>07:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>FRI</th>
                            <td>07:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>09:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>10:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <h4>Intersession</h4>
                    <table>
                        <tr>
                            <th>MON-FRI</th>
                            <td>9:00<sup>a</sup> - 03:30<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
              </div>
              <div id='post-office-hours' class='hours-inner-container'>
                <h2>Post Office Hours</h2><hr />
                <div class="callout">
                    <h4>When School in session</h4>
                    <table>
                        <tr>
                            <th>MON-THU</th>
                            <td>07:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>FRI</th>
                            <td>07:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>09:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>10:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <h4>Intersession</h4>
                    <table>
                        <tr>
                            <th>MON-FRI</th>
                            <td>9:00<sup>a</sup> - 03:30<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
              </div>
              <div id='lost-found-hours' class='hours-inner-container'>
                <h2>Lost&Found Hours</h2><hr />
                <div class="callout">
                    <h4>When School in session</h4>
                    <table>
                        <tr>
                            <th>MON-THU</th>
                            <td>07:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>FRI</th>
                            <td>07:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>09:00<sup>a</sup> - 11:00<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>10:00<sup>a</sup> - 10:00<sup>p</sup></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <h4>Intersession</h4>
                    <table>
                        <tr>
                            <th>MON-FRI</th>
                            <td>9:00<sup>a</sup> - 03:30<sup>p</sup></td>
                        </tr>
                        <tr>
                            <th>SAT</th>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <th>SUN</th>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
              </div>
              <div class='stretch'></div>
            </div>
        </div>

        <div class='freq-visit-container'>
            <h2>Frequently Visited</h2><hr />
            <div class='freq-visit'>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

                <div class='freq-link'>
                    <img src="{% static "img/food.jpg" %}" />
                    <a href="/">
                        <div class="freq-title" href="/">
                            <h3>Food at the VU</h3>
                            <button class="arrow forward" />
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
{%  endblock %}