{%  extends 'base.html' %}

{% block content %}
    {% for service in object_list %}
        <a href="{{ service.slug }}">
        <div style="position: relative;display: flex; justify-content: center; align-items: center;background: url('/media/{{ service.image }}') no-repeat;background-size: cover; width: 50%; height: 200px;float: left" class="service">
            <div class="overlay" style="transition: all .2s;z-index: 1;position: absolute; height: 100%; width: 100%; background-color: rgba(0,0,0,0.5);"></div>
            <div style="z-index: 3">
            <h2 style="color: white">{{ service.name }}</h2>
            </div>
        </div>
        </a>
    {% endfor %}
<style>
    a:hover .overlay {
        background-color: rgba(0,0,0,0.1) !important;
    }
</style>
{% endblock %}

