//
  +-----------------------------------------------------------------------------------------------------------------------------------------+
  |       +------------------------------------------------------------------------------------------------------------------------+        |
  |       | +-------------------------------------------------------------------------++-----------------------------------------+ |        |
  |       | | +---------------------------------------------------------------------+ ||                                         | |        |
  |       | | | +------------------------------------------++=---------------------+| ||                                         | |        |
  |       | | | |                                          ||                     | | ||                                         | |        |
  |       | | | |                                          ||                     | | ||                                         | |        |
  |       | | | |                                          ||                     | | ||                                         | |        |
  |       | | | |                                          ||                     | | ||                                         | |        |
  |       | | | |                                          ||                     | | ||                                         | |        |
  |       | | | |                             (4) physical ||           (5) phone | | ||                                         | |        |
  |       | | | +------------------------------------------++---------------------+ | ||                                         | |        |
  |       | | |                                                         (3) contact | ||                                         | |        |
  |       | | +---------------------------------------------------------------------+ ||                                         | |        |
  |       | | +---------------------------------------------------------------------+ ||                                         | |        |
  |       | | |                                                                     | ||                                         | |        |
  |       | | |                                                                     | ||                                         | |        |
  |       | | |                                                                     | ||                                         | |        |
  |       | | |                                                                     | ||                                         | |        |
  |       | | |                                                          (6) social | ||                                         | |        |
  |       | | +---------------------------------------------------------------------+ ||                                         | |        |
  |       | |                                                                (2) info ||                               (7) links | |        |
  |       | +-------------------------------------------------------------------------++-----------------------------------------+ |        |
  |       |                                                                                                    (1) outer container |        |
  |       +------------------------------------------------------------------------------------------------------------------------+        |
  |                                                                                                                                  footer |
  +-----------------------------------------------------------------------------------------------------------------------------------------+

footer
  background-color: tint($dark-base-color, 20)
  color: $light-font-color

  hr
    background-color: shade( $dark-base-color, 30)
    height: 4px
    border: transparent
    padding: none
    margin: none
    margin-bottom: 2vw

  .outer-container

    padding: 4vw 4vw 2vw 4vw

    // (1)
    +media($mobile)
      +outer-container(400px)
      padding: 4vw 0vw 2vw 0vw
    +media($tablet)
      +outer-container(700px)
    +media($desktop)
      +outer-container(1400px)
    +media($big-screen)
      +outer-container(1800px)



  .info-container

    // (2)
    +media($mobile)
      +span-columns(3 of 3)
    +media($tablet)
      +span-columns(4 of 4)
    +media($desktop)
      +span-columns(5 of 8)
    +media($big-screen)
      +span-columns(5 of 8)

    .contact
      // (3)
      +media($mobile)
        +span-columns(3 of 3)
      +media($tablet)
        +span-columns(4 of 4)
      +media($desktop)
        +span-columns(5 of 5)
      +media($big-screen)
        +span-columns(5 of 5)

      .physical

        // (4)
        +media($mobile)
          +span-columns(3 of 3)
        +media($tablet)
          +span-columns(2 of 4)
        +media($desktop)
          +span-columns(3 of 5)
        +media($big-screen)
          +span-columns(3 of 5)

        padding-left: 0.5vw
        line-height: 16px
        font-size: 13px

        // contact webmaster
        a
          color: rgba($light-font-color, 0.5)
          text-decoration: none
          &:hover
            color: $light-font-color

        // map buttons
        a.map
          display: inline-block
          text-align: center
          vertical-align: middle
          padding: 7px 12px
          margin: 7px 0
          margin-right: 14px
          border: 0
          background: white
          color: $dark-base-color
          text-decoration: none
          text-transform: uppercase
          opacity: 0.7
          +transition(opacity .15s ease-in-out)
          target: "_blank"

          &:hover
            opacity: 1


      .phones

        // (5)
        +media($mobile)
          +span-columns(3 of 3)
          padding-left: 0.5vw
          padding-bottom: 3vw
        +media($tablet)
          +span-columns(2 of 4)
          padding-left: 0.5vw
          padding-bottom: 3vw
        +media($desktop)
          +span-columns(2 of 5)
        +media($big-screen)
          +span-columns(2 of 5)


        h4
          padding-bottom: 0.10vw

        .number
          font-size: 23px
          padding-bottom: 1.5vw
          color: rgba($light-font-color, 0.5)

    .social

      // (6)
      +media($mobile)
        +span-columns(3 of 3)
      +media($tablet)
        +span-columns(4 of 4)
      +media($desktop)
        +span-columns(5 of 5)
      +media($big-screen)
        +span-columns(5 of 5)

      padding-top: 2vw
      padding-bottom: 4vw

      i
        color: $light-font-color
        margin: 0 0.5vw
        opacity: 0.7
        font-size: 40px
        +transition(opacity .15s ease-in-out)
        &:hover
          opacity: 1.0

  .links

    // (7)
    +media($mobile)
      +span-columns(3 of 3)
    +media($tablet)
      +span-columns(4 of 4)
    +media($desktop)
      +span-columns(3 of 8)
    +media($big-screen)
      +span-columns(3 of 8)

    padding-bottom: 4vw

    hr
      margin-bottom: 0

    div
      +display(flex)
      flex-flow: row wrap
      font-size: 13px
      a
        flex: auto
        text-align: center
        color: $light-font-color
        text-decoration: none
        margin: 1vw
        opacity: 0.7
        +transition(opacity .15s ease-in-out)
        &:hover
          opacity: 1.0
    p
      font-size: 13px
      a
        color: rgba($light-font-color, 0.5)
        text-decoration: none
        &:hover
          color: $light-font-color
