header
  width: 100%
  left: 0
  top: 0
  height: 17vw
  +media($portrait)
    height: 20vw
  +media($mobile)
    height: 25vw

  .sup-header
    text-align: right
    left: 0
    padding-top: 1vw
    +media($mobile)
      display: none

    ul
      margin: 0
      margin-right: 1vw
      line-height: 2vw
      font-size: 0.9vw
      +media($big-screen)
        line-height: 2vw
        font-size: 18px
      vertical-align: middle
      padding: 0
      li
        margin: 0 1vw
        padding: 0
        display: inline-block
        list-style: outside none none
        a

          color: $secondary-dark-font-color
          text-decoration: none

          &:hover
            color: $secondary-brand-color

  .main-header
    text-align: right
    left: 0
    background-color: tint($brand-color,7)
    height: 8.5vw
    +bottom-vertical-box-shadower($black-halfed)
    +media($mobile)
      height: 15vw

    ul
      margin: 0
      margin-right: 8vw
      padding: 0
      line-height: 8.5vw
      +media($mobile)
        line-height: 15vw
      +media($big-screen)
        margin-right: 9.5vw
      vertical-align: middle

      li
        display: inline-block
        list-style: outside none none
        margin: 0 4vw
        padding: 0
        +media($mobile)
          &.home
            display: none
        a
          font-size: 2.5vw
          +media($mobile)
            font-size: 5vw
          +media($big-screen)
            font-size: 50px
          color: $light-font-color
          text-decoration: none
          text-transform: uppercase
          font-weight: 200
          padding-bottom: 0.25vw
          +media($mobile)
            padding-bottom: 1vw
          position: relative

          // underline animation for hover
          &:before
            position: absolute
            height: 0.25vw
            +transition(all 0.35s ease)
            bottom: 0
            display: block
            margin-top: 1vh
            +media($mobile)
              height: 0.5vw
            width: 0
            content: ''
            background-color: $light-font-color
          &:hover
            &:before
              opacity: 1
              width: 100%

  .logo
    position: absolute
    left: 15vw
    top: 1vw
    +media($mobile)
        top: 0
        left: 0
    img
      height: auto
      width: 19vw
      background-color: $brand-color

      +bottom-vertical-box-shadower($black-halfed)
      +media($mobile)
        width: 30vw

