@import "vendor/dir"
@import "util/dir"
@import "theme/dir"
@import "layout/dir"
@import "components/dir"
@import "pages/dir"

html
  font-family: $body-font
  color: $dark-font-color

  body
    @for $i from 1 through 6
      h#{$i}
        font-family: $header-font
        text-transform: uppercase
        margin: 0

.outer-container

    padding: 4vw 4vw 2vw 4vw

    +media($mobile)
      +outer-container(400px)
      padding: 4vw 0vw 2vw 0vw
    +media($tablet)
      +outer-container(700px)
    +media($desktop)
      +outer-container(1400px)
    +media($big-screen)
      +outer-container(1800px)