.hero-message
  color: $brand-color
  margin-left: 15vw
  +media($portrait)
    margin-left: 0
    text-align: center

  h1
    text-shadow: 0px 2px 10px $secondary-dark-font-color
    font-size: 4.5vw
    +media($mobile)
      font-size: 40px
    font-weight: 900

    a
      font-family: Verdana
      text-decoration: none
      text-transform: none
      color: $brand-color
      text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      +transition(text-shadow 0.3s cubic-bezier(.25,.8,.25,1))
      &:hover
        text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)


.content-container
  background-color: white
  margin: 0
  padding: 0

  .welcome-container
    position: relative
    overflow: hidden

    &:before
      position: absolute
      content: ""
      top: 0
      left: 0
      width: 100%
      height: 100%
      +filter(blur(10px))
      +transition(background-image 0.1s linear)
      +background-imager("/static/img/background.jpg")
      +media($portrait)
        +background-imager("/static/img/portrait-background.jpg")

    &:after
      position: absolute
      content: ""
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba($brand-color, 0.85)

    .welcome
      position: relative
      color: $light-font-color
      padding: 75px
      z-index: 99

      +media($mobile)
        +outer-container(400px)
        padding: 75px 0
      +media($tablet)
        +outer-container(700px)
      +media($desktop)
        +outer-container(1400px)
      +media($big-screen)
        +outer-container(1800px)

      h1, h2
        text-align: center
      a
        color: $darker-grey
        text-decoration: none
        &:hover
          color: tint($secondary-brand-color, 50)

  .hours-outer-container
    margin: 50px
    margin-top: 30px


    .hours-container
      +display(flex)
      +flex-flow(row wrap)
      +justify-content(center)

      +media($mobile)
        +outer-container(400px)
      +media($tablet)
        +outer-container(700px)
      +media($desktop)
        +outer-container(1400px)
      +media($big-screen)
        +outer-container(1800px)

      .hours-inner-container
        margin: 20px
        +media($desktop)
          margin: 20px 50px
        +media($big-screen)
          margin: 20px 100px
        min-width: 350px
        $hours-base: $dark-base-color
        $hours-background: $light-grey

        h2
          color: $brand-color
          font-size: 1.8rem
          font-weight: heavy
          margin-bottom: 10px
          text-align: left
          margin-left: 25px


        hr
          position: relative
          margin: 0 25px
          background-color: $hours-base
          border: none
          height: 6px
          margin-bottom: -4px
          z-index: 99

        .callout
          background-color: $hours-background
          +box-shadow(5px, 5px, 2.5px, 0px, $dark-base-color)
          padding: 1vw
          padding-left: 25px
          margin: 0
          width: auto

          p
            margin: 0
            padding: 0
          h4
            text-align: left
            text-transform: none
          table
            margin-top: 7px
            color: $hours-base

          th, td
            font-weight: normal
            text-align: left
            padding: 2px 30px
          th
            padding-left: 0

  .freq-visit-container
    padding: 4vw
    padding-top: 20px

    +media($mobile)
      +outer-container(400px)
      padding: 0
    +media($tablet)
      +outer-container(700px)
    +media($desktop)
      +outer-container(1400px)
    +media($big-screen)
      +outer-container(1800px)

    $freq-base: $dark-base-color
    $freq-background: $light-grey
    $link-base: $darker-grey

    h2
      color: $brand-color
      font-size: 2.0rem
      font-weight: heavy
      margin-bottom: 0.5vw
      text-align: left
      margin-left: 25px

    hr
      position: relative
      margin: 0 25px
      background-color: $freq-base
      border: none
      height: 6px
      margin-bottom: -4px
      z-index: 99

    .freq-visit
      background-color: $freq-background
      +box-shadow(5px, 5px, 2.5px, 0px, $dark-base-color)
      padding: 12.5px 25px
      +span-columns(4 of 4)
      +media($mobile)
        +span-columns(1 of 1)
      +media($tablet)
        +span-columns(2 of 2)

      .freq-link
        background: transparent
        margin: 12.5px 0
        +box-shadow(5px, 5px, 0px, 0px, $secondary-dark-base-color)
        +span-columns(1 of 4)
        +omega(4n)
        +media($mobile)
          +span-columns(1 of 1)
          +omega(n)
        +media($tablet)
          +span-columns(1 of 2)
          +omega(2n)

        img
          max-width: 100%
          max-height: 100%

        .freq-title
          //+transition(opacity .15s ease-in-out)
          background-color: $brand-color
          padding: 15px
          overflow: auto

          h3
            float: left
            color: $light-font-color
            font-size: 20px
            line-height: 35px
            vertical-align: center
          button
            float: right